<p id="notice"><%= notice %></p>

<h1>Category Produits</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @category_produits.each do |category_produit| %>
      <tr>
        <td><%= link_to 'Show', category_produit %></td>
        <td><%= link_to 'Edit', edit_category_produit_path(category_produit) %></td>
        <td><%= link_to 'Destroy', category_produit, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Category Produit', new_category_produit_path %>
